<!DOCTYPE html>
<html lang="en">
<head>
<title>BusterBlocks Video</title>
<meta charset="UTF-8">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black
}
</style>
</head>
<body>
<h1>Transactions</h1>
<p>database of all transactions</p>
<table>
    <thead>
        {{#each data.[0]}}
        <th>{{@key}}></th>
        {{/each}}
    </thead>
    <tbody>
        {{#each data}} 
        <tr> 
            <td>{{this.transactionID}}</td> 
            <td>{{this.itemID}}</td> 
            <td>{{this.memberID}}</td> 
            <td>{{this.rental_price}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<h2>>Add new transaction:</h2>
<form id="addTransaction" action="/transactions" method="post">
    Item ID: <input type="number" name="itemID"><br>
    Member ID: <input type="number" name="memberID"><br>
    Rental Price: <input type="number" name="rental_price"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<br><br>

<p>Search transaction in database</p>
<form>
    <label for="transactionID">Transaction ID:</label><br>
    <input type="text" id="transactionID_search" name="transactionID" size="30" maxlength="255" required="required"><br>  
    <input type="button" onclick="searchTransactionID()" value="Search">
    <label for="itemID">Item ID:</label><br>
    <input type="text" id="itemID_search" name="itemID" size="30" maxlength="255" required="required"><br>  
    <input type="button" onclick="searchTransactionItemID()" value="Search">
    <label for="memberID">Member ID:</label><br>
    <input type="text" id="memberID_search" name="memberID" size="30" maxlength="255" required="required"><br>  
    <input type="button" onclick="searchTransactionMemberID()" value="Search">
    <label for="rental_price">Rental Price:</label><br>
    <input type="text" id="rental_price_search" name="rental_price" size="30" maxlength="255" required="required"><br>  
    <input type="button" onclick="searchTransactionRentalPrice()" value="Search">
</form> 
<br><br>

</body>
<li><a href="rentals"> Want to look at rentals? </a></li>
<li><a href="movies"> Want to look at movies? </a></li>
<li><a href="members"> Want to look at members? </a></li>
<li><a href="/"> Want to go back to the index? </a></li>
</html> 
